<!DOCTYPE html>
<html>
<head>
    <style>
        h1 {
            text-align: center;
            font-weight: bold;
            text-shadow: 2px 2px 5px green;
        }
        h3 {
            padding-left: 5%;
            font-weight: bold;
        }
        p {
            padding-left: 7%;
            line-height: 0.7;
        }
        div {
            border: 2px solid black;
            outline: #4CAF50 solid 10px;
            margin: auto; 
        }
        p.para1 {
            text-align: center;
            color: green;
        }
        p.para2 {
            color: green;
        }
    </style>
</head>
<title>SUSE Manager Jobchecker</title>
</head>
<body>

<h1 style="text-align: center;">SUSE Manager - Job Monitoring Status</h1>
<p class="para1">Reported by Jobchecker.</p><br><br>

<h3>Job execution time: {{ .JobStartTime }}</h3>
<h3>t7user: {{ .T7user }}</h3></p>
<h3>Job Type: {{ .JobType }}</h3></p>

<br>
<h3 style='color:red;'>Pending:</h3>
{{with .Pending}}
    {{ range . }}
    {{ if ne .Hostname "" }}
        {{ if eq $.JobType "patching" }}
            <p>{{.Hostname}}: {{.JobID}} - masterplan: {{.Masterplan}}</p>
        {{else}}
            <p>{{.Hostname}}: {{.JobID}}</p>
        {{end}}
    {{else}}
    <p></p>
    {{end}}
    {{end}}
{{end}}
<br>
<h3 style='color:red;'><strong>Failed:</font></strong></h3>
{{with .Failed}}
    {{range .}}
    {{ if ne .Hostname "" }}
        {{ if eq $.JobType "patching" }}
        <p>{{.Hostname}}: {{.JobID}} - masterplan: {{.Masterplan}}</p>
        {{else}}
            <p>{{.Hostname}}: {{.JobID}}</p>
        {{end}}
    {{else}}
    <p></p>
    {{end}}
    {{end}}
{{end}}
<br>
<h3 style='color:green;'>Completed:</h3>
{{with .Completed}}
    {{range .}}
    {{ if ne .Hostname "" }}
        {{ if eq $.JobType "patching" }}
            <p>{{.Hostname}}: {{.JobID}} - masterplan: {{.Masterplan}}</p>
        {{else}}
            <p>{{.Hostname}}: {{.JobID}}</p>
        {{end}}
    {{else}}
    <p><span style="margin-left: 20px;"></span></p>
    {{end}}
    {{end}}
{{end}}
<br>
<h3 style='color:blueviolet;'>Cancelled:</h3>
{{with .Cancelled}}
    {{range .}}
    {{ if ne .Hostname "" }}
        {{ if eq $.JobType "patching" }}
            <p>{{.Hostname}}: {{.JobID}} - masterplan: {{.Masterplan}}</p>
        {{else}}
            <p>{{.Hostname}}: {{.JobID}}</p>
        {{end}}    
    {{else}}
    <p></p>
    {{end}}
    {{end}}
{{end}}

<h3 style='color:blueviolet;'>Offline Minions:</h3>
{{with .Offline_minions}}
    {{range .}}
    {{ if ne . "" }}
    <p>{{ . }}</p>
    {{else}}
    <p></p>
    {{end}}
    {{end}}
{{end}}

{{ if ne .JobType "reboot" }}
<h3 style='color:blueviolet;'>Btrfs disqualified (because / < 2GiB):</h3>
{{with .Disqualified_minions}}
    {{range .}}
    {{ if ne . "" }}
    <p>{{ . }}</p>
    {{else}}
    <p></p>
    {{end}}
    {{end}}
{{end}}

<h3 style='color:blueviolet;'>No_patch Exceptions (Systems for patching excluded):</h3>
{{with .No_patch_execptions}}
    {{range .}}
    {{ if ne . "" }}
    <p>{{ . }}</p>
    {{else}}
    <p></p>
    {{end}}
    {{end}}
{{end}}
<br>
{{ if ne .Reboot_SLS "" }}
<h3 style='color:brown;'>Post Patching: saltstack sls for reboot action have been written to: /srv/salt/sumapatch/{{ .Reboot_SLS }}.sls</h3>
<p>Then run command on SUSE Manager host: <strong><font size='+2'></font>salt-run state.orch sumapatch.{{ .Reboot_SLS }}</font></strong></p>
<p>The sumapatch.reboot execution module will trigger reboot jobs through SUSE Manager.</p>
{{ else }}
<p>There is no reboot sls written. One possible reason is there is no system with completed jobs.</p>
{{end}}

{{ if ne .Post_patching_file "" }}
<h3 style='color:brown;'>Post Patching: saltstack sls for post patching have been written to:</h3>
<p>{{ .Post_patching_file }}</p>
<p>Then run command on SUSE Manager host:</p>
<p><strong><font size='+2'></font>salt-run post_patching.start {{ .Post_patching_file }} state_name={{ .Post_patching }} presence_check=True</font></strong></p>
<p>The salt runner module post_patching.start will start service ds_agent on the given minions.</p>
{{ else }}
<p>There is no post patching sls written. One possible reason is there is no system where we executed pre patching tasks.</p>
{{end}}
<br>
<h3 style='color:blueviolet;'>Post Patching: Set Patch Level:</h3>
<p>A saltstack runner module post_patching.set_pl can be used to set new patch level for a given list of minions.</p>
<p><strong><font size='+2'></font>salt-run post_patching.set_pl /srv/pillar/sumapatch/{{ .YamlFileName }} {{ .Patch_level  }} presence_check=True</font></strong></p>
<p>The first parameter is a minions list. The list must have a key name. The list must not be limited to reboot list or post_patching list.</p>
<p>The second parameter is the new patch level</p>
<br>
<h3 style='color:blueviolet;'>Post Patching: Reporting to csv file</h3>
<p>A saltstack runner module post_patching.report can be used to collect data and generate a csv file for a given list of minions.</p>
<p><strong><font size='+2'></font>salt-run post_patching.report /srv/pillar/sumapatch/{{ .YamlFileName }} csv_file=/tmp/myreport.csv presence_check=True</font></strong></p>
<p>The first parameter is a minions list. The list must have a key name. The list must not be limited to reboot list or post_patching list.</p>
<p>The second parameter is where the csv should be written to.</p>
{{end}}
</body>
</html>