<!DOCTYPE html>
<html>
<head>
</head>
<title>SUSE Manager Jobchecker</title>
</head>
<body>

<h1 style="text-align: center;">SUSE Manager - Job Monitoring Status</h1>
<p style='text-align: center;'>Reported by Jobchecker.</p><br><br>
<p>Job execution time: {{ .JobStartTime }}</p>
<p><strong><font size='+2'>t7user: {{ .T7user }}</font></strong></p>
<br>
<p style='color:red;'><strong><font size='+2'>Pending:</font></strong></p>
{{with .Pending}}
    {{ range . }}
    {{ if ne .Hostname "" }}
    <p><span style="margin-left: 20px;">{{.Hostname}}: {{.JobID}} - masterplan: {{.Masterplan}}</span></p>
    {{else}}
    <p><span style="margin-left: 20px;"></span></p>
    {{end}}
    {{end}}
{{end}}
<br>
<p style='color:red;'><strong><font size='+2'>Failed:</font></strong></p>
{{with .Failed}}
    {{range .}}
    {{ if ne .Hostname "" }}
    <p><span style="margin-left: 20px;">{{.Hostname}}: {{.JobID}} - masterplan: {{.Masterplan}}</span></p>
    {{else}}
    <p><span style="margin-left: 20px;"></span></p>
    {{end}}
    {{end}}
{{end}}
<br>
<p style='color:green;'><strong><font size='+2'>Completed:</font></strong></p>
{{with .Completed}}
    {{range .}}
    {{ if ne .Hostname "" }}
    <p><span style="margin-left: 20px;">{{.Hostname}}: {{.JobID}} - masterplan: {{.Masterplan}}</span></p>
    {{else}}
    <p><span style="margin-left: 20px;"></span></p>
    {{end}}
    {{end}}
{{end}}
<br>
<p style='color:blueviolet;'><strong><font size='+2'>Cancelled:</font></strong></p>
{{with .Cancelled}}
    {{range .}}
    {{ if ne .Hostname "" }}
    <p><span style="margin-left: 20px;">{{.Hostname}}: {{.JobID}} - masterplan: {{.Masterplan}}</span></p>    
    {{else}}
    <p><span style="margin-left: 20px;"></span></p>
    {{end}}
    {{end}}
{{end}}

<p style='color:blueviolet;'><strong><font size='+2'>Offline Minions:</font></strong></p>
{{with .Offline_minions}}
    {{range .}}
    {{ if ne . "" }}
    <p><span style="margin-left: 20px;">- {{ . }}</span></p>
    {{else}}
    <p><span style="margin-left: 20px;"></span></p>
    {{end}}
    {{end}}
{{end}}

<p style='color:blueviolet;'><strong><font size='+2'>btrfs disqualified (because / < 2GiB):</font></strong></p>
{{with .Disqualified_minions}}
    {{range .}}
    {{ if ne . "" }}
    <p><span style="margin-left: 20px;">- {{ . }}</span></p>
    {{else}}
    <p><span style="margin-left: 20px;"></span></p>
    {{end}}
    {{end}}
{{end}}
<br>
{{ if ne .Reboot_SLS "" }}
<p style='color:brown;'><strong>salstack sls for reboot action have been written to: {{ .Reboot_SLS }}</strong></p>
<p>Then run command on SUSE Manager host: salt-run state.orch sumapatch.reboot_{{ .T7user }} </p>
<p>The sumapatch.reboot execution module will trigger reboot jobs through SUSE Manager.</p>
{{ else }}
<p>There is no reboot sls written. One possible reason is there is no system with completed jobs.</p>
{{end}}
</body>
</html>