<!DOCTYPE html>
<html>
<head>
</head>
<title>SUSE Manager Jobchecker</title>
</head>
<body>

<h1 style="text-align: center;">SUSE Manager - Job Monitoring Status</h1>
<p style='text-align: center;'>Reported by Jobchecker.</p><br><br>
<p>Job execution time: {{ .JobStartTime }}</p>
<p><strong><font size='+2'>t7user: {{ .T7user }}</font></strong></p>
<br>
<p style='color:red;'><strong><font size='+2'>Pending:</font></strong></p>
{{with .Pending}}
    {{ range . }}
    {{ if ne .Hostname "" }}
    <p><span style="margin-left: 20px;">{{.Hostname}}: {{.JobID}} - masterplan: {{.Masterplan}}</span></p>
    {{else}}
    <p><span style="margin-left: 20px;"></span></p>
    {{end}}
    {{end}}
{{end}}
<br>
<p style='color:red;'><strong><font size='+2'>Failed:</font></strong></p>
{{with .Failed}}
    {{range .}}
    {{ if ne .Hostname "" }}
    <p><span style="margin-left: 20px;">{{.Hostname}}: {{.JobID}} - masterplan: {{.Masterplan}}</span></p>
    {{else}}
    <p><span style="margin-left: 20px;"></span></p>
    {{end}}
    {{end}}
{{end}}
<br>
<p style='color:green;'><strong><font size='+2'>Completed:</font></strong></p>
{{with .Completed}}
    {{range .}}
    {{ if ne .Hostname "" }}
    <p><span style="margin-left: 20px;">{{.Hostname}}: {{.JobID}} - masterplan: {{.Masterplan}}</span></p>
    {{else}}
    <p><span style="margin-left: 20px;"></span></p>
    {{end}}
    {{end}}
{{end}}
<br>
<p style='color:blueviolet;'><strong><font size='+2'>Cancelled:</font></strong></p>
{{with .Cancelled}}
    {{range .}}
    {{ if ne .Hostname "" }}
    <p><span style="margin-left: 20px;">{{.Hostname}}: {{.JobID}} - masterplan: {{.Masterplan}}</span></p>    
    {{else}}
    <p><span style="margin-left: 20px;"></span></p>
    {{end}}
    {{end}}
{{end}}

<p style='color:blueviolet;'><strong><font size='+2'>Offline Minions:</font></strong></p>
{{with .Offline_minions}}
    {{range .}}
    {{ if ne . "" }}
    <p><span style="margin-left: 20px;">- {{ . }}</span></p>
    {{else}}
    <p><span style="margin-left: 20px;"></span></p>
    {{end}}
    {{end}}
{{end}}

<p style='color:blueviolet;'><strong><font size='+2'>Btrfs disqualified (because / < 2GiB):</font></strong></p>
{{with .Disqualified_minions}}
    {{range .}}
    {{ if ne . "" }}
    <p><span style="margin-left: 20px;">- {{ . }}</span></p>
    {{else}}
    <p><span style="margin-left: 20px;"></span></p>
    {{end}}
    {{end}}
{{end}}
<br>
{{ if ne .Reboot_SLS "" }}
<p style='color:brown;'><strong>Post Patching: saltstack sls for reboot action have been written to: {{ .Reboot_SLS }}</strong></p>
<p>Then run command on SUSE Manager host: <strong><font size='+2'></font>salt-run state.orch sumapatch.reboot_{{ .T7user }}</font></strong></p>
<p>The sumapatch.reboot execution module will trigger reboot jobs through SUSE Manager.</p>
{{ else }}
<p>There is no reboot sls written. One possible reason is there is no system with completed jobs.</p>
{{end}}

{{ if ne .Post_patching_file "" }}
<p style='color:brown;'><strong>Post Patching: saltstack sls for post patching have been written to: {{ .Post_patching_file }}</strong></p>
<p>Then run command on SUSE Manager host: <strong><font size='+2'></font>salt-run post_patching.start {{ .Post_patching_file }}</font></strong></p>
<p>The salt runner module post_patching.start will start service ds_agent on the given minions.</p>
{{ else }}
<p>There is no post patching sls written. One possible reason is there is no system where we executed pre patching tasks.</p>
{{end}}
<br>
<p style='color:blueviolet;'><strong>Post Patching: Set Patch Level</strong></p>
<p>A saltstack runner module post_patching.set_pl can be used to set new patch level for a given list of minions.</p>
<p><strong><font size='+2'></font>salt-run post_patching.set_pl /srv/pillar/sumapatch/completd_t7udp_20230411160037 2023-Q12</font></strong></p>
<p>The first parameter is a minions list. The list must have a key name. The list must not be limited to reboot list or post_patching list.</p>
<p>The second parameter is the new patch level</p>
<br>
<p style='color:blueviolet;'><strong>Post Patching: Reporting to csv file</strong></p>
<p>A saltstack runner module post_patching.report can be used to collect data and generate a csv file for a given list of minions.</p>
<p><strong><font size='+2'></font>salt-run post_patching.report /srv/pillar/sumapatch/completd_t7udp_20230411160037 csv_file=/tmp/myreport.csv</font></strong></p>
<p>The first parameter is a minions list. The list must have a key name. The list must not be limited to reboot list or post_patching list.</p>
<p>The second parameter is where the csv should be written to.</p>
</body>
</html>